<% if @gossip.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% @gossip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <div class="card mb-4 box-shadow align-items-center">
          <br><br>
          <%= form_tag url_for(action: 'create'), method: "post" do %>
            <%= label_tag 'Titre : ' %>
            <%= text_field_tag 'title', @gossip.title %>
            <br /> <br />
        
            <%= label_tag 'Contenu : ' %>
            <%= text_area_tag 'content', @gossip.content %>
            <br /> <br />
        
            <%= submit_tag "Créer" %>
        
          <% end %>
          <br><br>
        </div>
      </div>

    </div>

    <div class="text-left">
      <a href="<%= gossips_path %>" class="btn my-2 btn-outline-secondary">Retour aux potins</a>
    </div>

  </div>


</div>