
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <!--<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">-->
          <div class="card-body">
            <small class="text-muted">#<%= @id %></small>
            <h5 class="card-title"><%= @gossip.title %></h5>
            <p class="card-text"><%= @gossip.content %></p>
            <div class="d-flex justify-content-between align-items-center">
              <a href="<%= gossip_path(@gossip.id) %>"><small  class="text">🏠<%= @gossip.user.city.name %></small></a>
              <a href="<%= gossip_path(@gossip.id) %>"><small  class="text-muted">🙃<%= @gossip.user.first_name + ' ' + @gossip.user.last_name %></small></a>
            </div>
          </div>
        </div>
      </div>
      

    </div>
  </div>
</div>

