<% if @gossip_comment.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% @gossip_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <div class="card mb-4 box-shadow align-items-center">
          <br><br>
          <%= form_tag url_for(action: 'update'), method: "patch" do %>
            <%= label_tag 'Commentaire : ' %>
            <%= text_field_tag 'content', @gossip_comment.content %>
            <br /> <br />
        
            <%= submit_tag "Modifier" %>
            <br><br>
            <a href="<%= gossip_gossip_comment_path(@gossip_comment.gossip.id, @gossip_comment.id) %>" class="btn btn-sm btn-danger" data-confirm="Etes-vous sur de vouloir supprimer le commentaire ?" data-method="DELETE"><i class="fas fa-trash-alt"></i></a>
            <br><br>
          <% end %>

          

        </div>
      </div>

    </div>

    <div class="text-left">
      <a href="<%= gossip_path(@gossip_comment.gossip.id) %>" class="btn my-2 btn-outline-secondary">Retour au potin</a>
    </div>

  </div>


</div>